<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/event-details.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/add.css' %}">

    <script src="{% static 'toastr/toastr.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'toastr/toastr.min.css' %} ">



    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
   <input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        <div class="side-header">
            {%if user.is_superuser %}
                <span class="las la-home"></span>
                <h3><a href="{%url 'user_events_page'%}">Event XYZ</a></h3>
            {%else%}
                <span class="las la-home"></span>
                <h3><a href="{%url 'user_events_page'%}">Event XYZ</a></h3>

            {%endif%}
        </div>
        
        <div class="side-content">
            <div class="profile">
                <div class="profile-img bg-img"> 
                    <div class= "las la-user" style="font-size:60px"></div>
                </div>
                <h4>{{user}}</h4>
                {%if user.is_superuser%}
                <small>Admin</small>
                {%endif%}
            </div>

            <div class="side-menu">
                <ul>
                    <li>
                      <a href = {% url 'admin_events_page'%} class='active'>
                            <span class="las la-tachometer-alt"></span>
                            <small>Dashboard</small>
                        </a>
                    </li>
                    <li>
                      <a href = {% url 'paid_event'%}> 
                            <span class="las la-plus-circle"></span>
                            <small> Create Paid Event</small>
                        </a>
                    </li>
                    <li>
                      <a href = {% url 'free_event'%}>                             
                             <span class="las la-plus-circle"></span>
                             <small> Create Free Event</small>
                         </a>
                     </li>
                    <li>
                      <a href = {% url 'paid-event-page'%}>                             
                            <span class="las la-eye"></span>
                            <small>View Paid Events</small>
                        </a>
                    </li>
                    <li>
                      <a href = {% url 'free-event-page'%}>                            
                            <span class="las la-eye"></span>
                            <small>View Free Events</small>
                        </a>
                    </li>
                    <li>
                      <a href = {% url 'cancelled_event_page'%}>                            
                            <span class="las la-ban"></span>
                            <small>Cancelled Events</small>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>



    <div class="main-content">
        
        <header>
            {% if user.is_superuser %}

            <div class="header-content">
                <label for="menu-toggle">
                    <span class="las la-bars"></span>
                </label>

                <div class="header-menu">

                    <label for="">
                        <span class="las la-search"></span>
                    </label>

                    <div class="notify-icon">
                        <span class="las la-envelope"></span>
                        <span class="notify">4</span>
                    </div>
                    
                    <div class="notify-icon">
                        <span class="las la-bell"></span>
                        <span class="notify">3</span>
                    </div>
                    
                    <div class="user">
                        <div class="bg-img" style="background-image: url(img/1.jpeg)"></div>
                        <a href="{%url 'logout' %}">
                            <span class="las la-power-off"></span>
                            <span>Logout</span>
                        </a>
                    </div>

                </div>

            </div>
            {%else%}
            <div class="header-content">
                <div class="header-menu">    
                    <div class="user">
                        <div class="bg-img" style="background-image: url(img/1.jpeg)"></div>
                        <a href="{%url 'admin_login' %}">
                            <span class="las la-power-off"></span>
                            <span >Log in</span>
                        </a>
                    </div>

                </div>

            </div>
            {%endif%}

        </header>

        
        
        <main>
            
            <div class="page-header">
                <h1>Dashboard</h1>
                <small>Home / Dashboard</small>
            </div>
            {% if messages %}
                {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="error">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="success">{{ message }}</div>
                {% endif %}
                {% endfor %}
            {% endif %}
            
            <div class="page-content">
            
               {%block details%}

               {%endblock%}


                <div class="records table-responsive">

                    

                    <div>
              
                        {%block content%}
      

                        {%endblock%}

                    </div>

                  

                </div>
            
            </div>
            
        </main>
        
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () =>{
            const rows = document.querySelectorAll("tr[data-href]");
            rows.forEach(row =>{
                row.addEventListener("click", ()=>{
                    window.location.href = row.dataset.href;
                })
            })
        })
    </script>
</body>
</html>