{%extends 'base.html' %}
{% block content%}

<marquee direction = "right"><h1 style="color:black;">Administrator Login</h1></marquee>
  
<div class="page-content">
  <div class="main_container">
    <div class="container login-section">

  <form class = "box-login" action= "{% url 'login' %}" method="POST">
    <h1>Login</h1>
    {% csrf_token %}
    <div>
      <label>Enter Username</label> 
      <input type="text" required onkeyup="this.setAttribute('value', this.value);" name="username" placeholder="Username" value="">
  </div>
  <div>
    <label>Enter Password</label>
    <input type="password" required onkeyup="this.setAttribute('value', this.value);" name="password" placeholder="Password" value=""> 
  </div>
    <input type="submit" name="sign-in" value="Sign in">

    <br>
      <div class="form-group">
              {% if messages %}
              <div class="messages">
                  {% for message in messages %}

                      <div class="alert alert-success" style="color:red;"> {{ message }}</div>

                  {% endfor %}
              </div>
              {% endif %}
        </div>
  </form> 
</div>
</div>
</div>
{%endblock%}