{%extends 'home.html' %}


{%block details%}

{% load static %}
<script src="{% static 'js/plugins.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/details.css' %}">



<a href="{% url 'user_events_page' %}">
    <button> <i class="fa fa-arrow-left">Back</i> </button>
</a>
<div class="container-fluid tm-container-content tm-mt-60">
    <div class="row mb-4">
        <h2 class="col-12 tm-text-primary">{{event.event_name}}</h2>
    </div>
    <div class="row tm-mb-90">            
        <div class="col-xl-6 col-lg-7 col-md-6 col-sm-12">
            <img src="{{event.header_images.url}}" alt="Image" class="img-fluid">

            <h4 class="pt-4">Description</h4>

            <p class="mb-4">
            {{event.description}}
            </p>

          
        </div>
        <div class="col-xl-6 col-lg-5 col-md-6 col-sm-12">
            <div class="tm-bg-gray tm-video-details">
                                 
                <div class="d-flex flex-wrap">
                    <div class="mr-4 mb-2">
                        <span class="tm-text-gray-dark">Date: </span><span class="tm-text-primary">{{event.event_date}}</span>
                    </div>
                    <div class="mr-4 mb-2">
                        <span class="tm-text-gray-dark">Time: </span><span class="tm-text-primary">{{event.event_time}}</span>
                    </div>
                </div>
                <div class="mb-4 d-flex flex-wrap">
                    <div class="mr-4 mb-2">
                        <span class="tm-text-gray-dark">Location: </span><span class="tm-text-primary">{{event.location}}</span>
                    </div>
                </div>
                <div class="mb-4">
                    <h3 class="tm-text-gray-dark mb-3">Registration Details</h3>
                    
                    {%if event.price%}
                    <span class="tm-text-gray-dark">Price N: </span><span class="tm-text-primary">{{event.price}}</span>
                    {%else%}
                    <span class="tm-text-gray-dark">Price N: </span><span class="tm-text-primary">Free</span>
                    {%endif%}



                    <p>This is a
                        {%if event.price%}
                        PAID 
                        {%else%}
                        FREE
                        {%endif%}

                        event organised by EVENT XYZ. To reserve a seat you have 
                        to register as registration closes in  {{event.bookDate}}  DAYS from now {{event.event_end_date}}
                        
                        {%if event.space_capacity%}
                        The space capacity of this event is for {{event.space_capacity}} people
                        {%endif%}

                    </p>
                    {%if event.space_capacity%}
                        {%if event.bookings == 0%}
                            <span class="tm-text-primary">Be the first to Book for this event</span>
                        {%elif event.bookings == 1%}
                            <span class="tm-text-primary">{{event.bookings}}</span> <span class="tm-text-gray-dark">Person has booked for this Event</span>
                        {%else%}
                            <span class="tm-text-primary">{{event.bookings}}</span> <span class="tm-text-gray-dark">People has booked for this Event</span>

                        {%endif%}



                    <br/>

                    <span class="tm-text-gray-dark">Slot Left: </span><span class="tm-text-primary">{{event.slot_left}}</span>
                    {%endif%}

                </div>
                <div>

                    {%if not event.price%}

                    <form action="{% url 'register_free' event.pk %}" method="post" class="myform">
                      {% csrf_token %}
      
                        {%if not event.expired_event%}
      
                            {%if not event.expired_reg%}
      
                                  <div class="tm-text-gray mb-2 ">
                                    <label class="">Email address</label>
                                    <input type="email" class="input border border-1 rounded" id="" aria-describedby="emailHelp" required onkeyup="this.setAttribute('value', this.value);" name="email"  placeholder="example@gmail.com" value="">
                                  </div>

                            
                                  <div class="">
                                      <label class="">Phone Number</label>
                                      <input type="number" class="input" id="" required onkeyup="this.setAttribute('value', this.value);" name="phone" placeholder="Phone Number" value="">
                                  </div>
                                  <div class="">
                                      <input type="checkbox" name="poll" id="exampleRadios1" value="option1" required>
                                      <label class="form-check-label" for="exampleRadios1">I have Read Terms and Conditions</label>
                                  </div>
      
                                  <div class="">
                                      <input type="checkbox" name="event_id" id="exampleRadios12" value="option2" required>
                                      <label class="form-check-label" for="exampleRadios1">I agree to abide to rules and regulations of the event</label>
                                  </div>
      
                                  <div>
                                  <button type = "submit" class="cart-btn">
                                      
                                      <span class="span">Register</span>
      
                                  </button>
                                  </div>
                                  {% comment %} <div>
                                    <button id="register-btn" type="submit" class="btn btn-primary tm-btn-big"
                                        onclick="handleRegisterClick(this)">
                                        Register
                                    </button>
                                  
                                </div> {% endcomment %}
                                {%else%}
                                <h2>Registeration has ended</h2>
                                {%endif%}
      
      
                        {%endif%}
                    </form>
                    
              {%else%}
              <form action="{% url 'vote' event.pk %}" method="post" class="myform">
                {% csrf_token %}

            
                {% if not event.expired_reg %}
                    {% if event.slot_left >= 1 %}
                        <div class="tm-text-gray mb-2">
                            <label class="">Email address</label>
                            <input type="email" class="input border border-1 rounded" id="" aria-describedby="emailHelp"
                                required onkeyup="this.setAttribute('value', this.value);" name="email"
                                placeholder="example@gmail.com" value="">
                        </div>
                        <div class="tm-text-gray mb-2">
                            <label class="">Phone Number</label>
                            <input type="number" class="input border border-1 rounded" id="" required
                                onkeyup="this.setAttribute('value', this.value);" name="phone" placeholder="Phone Number" value="">
                        </div>
                        <div class="tm-text-gray mb-2">
                            <input type="checkbox" name="poll" id="exampleRadios1" value="option1" required>
                            <label class="form-check-label" for="exampleRadios1">I agree to abide by the rules and regulations of
                                the event</label>
                        </div>
            
                        <div class="tm-text-gray mb-2">
                            <input type="checkbox" name="event_id" id="exampleRadios12" value="option2" required>
                            <label class="form-check-label" for="exampleRadios1">I agree that fees are non-refundable</label>
                        </div>
            
                        <div>
                            <button id="register-btn" type="submit" class="btn btn-primary tm-btn-big"
                                onclick="handleRegisterClick(this)">
                                Register
                            </button>
                          
                        </div>
                    {% else %}
                        <h2>Maximum Registration reached</h2>
                    {% endif %}
                {% else %}
                    <h2>Registration has ended</h2>
                {% endif %}
            </form>
            
              
      
              {%endif%}

                </div>
            </div>
        </div>
    </div>
   

    <!-- row -->
</div> 
  
<script>
    function handleRegisterClick(button) {
        button.innerHTML = '<i class="fa fa-spinner fa-spin"></i> Loading...';
        document.getElementById('loading-spinner').style.display = 'block';
    }
</script>
  

{%endblock%}